{%  load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="jumbotron text-center">
         <h1 >APPLICANT REGISTRATION PAGE</h1>
        <table align="center" border="0">
            <tr>
                <th>
             <nav class="navbar navbar-expand-sm bg-light navbar-light">
                <ul class="navbar-nav">
                        <li class="nav-item active">
                           <a class="nav-link" href="{% url 'index' %}">Home</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="{% url 'admin_login_page' %}"> Applicant_Admin</a>
                       </li>
                      <li class="nav-item">
                            <a class="nav-link" href="{%  url 'manager_login_page' %}">Manager</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="{% url 'applicant_login_page' %}">Applicant</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#">Interviewer</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="#">HRhead</a>
                     </li>
               </ul>
             </nav>
                </th>
            </tr>
            <tr>
                <th style="text-align: center">
             <img src="{% static 'images/image1.jpg' %} " style="text-align: center;background: lightcyan" width="200" height="200">

                </th>
            </tr>
            <tr>
               <form action="{%  url 'register' %}" method="post" >
                         {% csrf_token %}
                   {% for x in messages %}
                       <h1 style="text-align: center;color: red"> {{ x }}</h1>
                   {% endfor %}
                   <table align="center" border="0">
                        <tr><th>ApplicantRegistrationForm</th></tr>
                        <tr><th> {{ ad.ID.label }}</th><th>{{ ad.ID }}</th></tr>
                       <tr><th>{{ ad.NAME.label }}</th><th>{{ ad.NAME }}</th></tr>
                       <tr><th>{{ ad.DATE_OF_BIRTH.label }}</th><th>{{ ad.DATE_OF_BIRTH }}</th></tr>
                       <tr><th>{{ ad.EMAIL.label }}</th><th>{{ ad.EMAIL }}</th></tr>
                       <tr><th>{{ ad.GENDER.label }}</th><th>{{ ad.GENDER}}</th></tr>
                       <tr><th>{{ ad.MOBILE.label }}</th><th>{{ ad.MOBILE }}</th></tr>
                       <tr><th>{{ ad.ADDRESS.label }}</th><th>{{ ad.ADDRESS }}</th></tr>
                       <tr><th>{{ ad.USERNAME.label }}</th><th>{{ ad.USERNAME}}</th></tr>
                       <tr><th>{{ ad.PASSWORD.label }}</th><th>{{ ad.PASSWORD }}</th></tr>









                        <tr><th style="text-align: center"><button type="submit" value="register" name="r1">
                            <h3 style="color: red">Register</h3></button> </th></tr>
                   </table>
               </form>
        </table>

    </div>





    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>








