{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
</head>
<form action="{%  url 'interview_applicant' %}" method="post">
    {%  csrf_token %}
<table align="center" border="0">
    <tr>
        <th>
            <h1 style="text-align: center;color: red">
                CONDUCTING AND PREPARING FINAL SELECTION LIST
            </h1>
        </th>
    </tr>
    <tr>
        <th>
            SELECT AN APPICANT ID
            <select name="t1">
                {% for x in data%}
                    <option>
                           {{ x.ID}}
                    </option>
                {% endfor %}
            </select>

    </tr>
    <tr><th><button type="submit">Getdetails</button> </th></tr>
</table>
</form>
